<h1>Корзина</h1>
{% if cart|length > 0 %}
    <ul>
        {% for item in cart %}
            <li>{{ item.name }} (количество: {{ item.quantity }})
                <a class="deleteItemCart" href="#" data-id="{{ item.id }}">delete</a>
            </li>
        {% endfor %}
    </ul>
    {% if isLoggedUser %}
        <a href="/order/add/" class="btn btn-success">Оформить заказ</a>
    {% else %}
        <button disabled class="btn btn-success">
            Оформить заказ (только для зарегистрированных пользователей)
        </button>
    {% endif %}
{% else %}
    <em>В корзине пока ничего нет</em>
{% endif %}
