<h1>Корзина</h1>
{% if cart|length > 0 %}
    <ul>
        {% for item in cart %}
            <li>{{ item.name }} (количество: {{ item.quantity }})
                <a class="deleteItemCart" href="#" data-id="{{ item.id }}">delete</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <em>В корзине пока ничего нет</em>
{% endif %}
