<div class="alert alert-success" role="alert">{{ user.login }}, добро пожаловать</div>
<div class="bd-callout bd-callout-info mb-2">Учетная запись создана {{ user.created_at }}</div>
<p>Последние 5 посещенных страниц:</p>
<ul class="list-group list-group-flush">
    {% for item in lastFiveVisitedPage %}
        {% for items in item %}
            <a href="{{ items }}" class="list-group-item list-group-item-action">
                {{ items }}
            </a>
        {% endfor %}
    {% endfor %}
</ul>